.app-wrapper{
  margin: 0 auto;
  display: grid;
   width: 1200px;
   grid-template-areas: 
  "area_Header area_Header " 
  "area_Nav area_Profile ";
  grid-template-rows: 1fr 6fr 5fr;
  grid-template-columns: 2fr  5fr ;
  
  

}

